
.ui-page-geyser-editor {
    padding: 15px;

    .ui-geyser-factor-explain {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .ui-slider-inset {
        box-sizing: border-box;
        padding: 0px 10px;
    }
}
