
@import "~@blueprintjs/core/lib/scss/variables.scss";

.ui-app-root {
    background-color: $dark-gray1;
}


.ui-page-duplicants {
    .ui-duplicant-editor {
        box-sizing: border-box;
        padding: 5px;

        .ui-title {
            display: inline-block;
            width: auto;
        }
    }

    .ui-duplicant-skills {
        .pt-html-table {
            width: 100%;
            max-height: 100%;
        }
    }

    .ui-duplicant-effects {
        .pt-html-table {
            width: 100%;
            max-height: 100%;
        }
    }


}

.pt-multi-select-popover, .pt-select-popover {
    .pt-menu {
        max-width: 400px;
        max-height: 300px;
        overflow: auto;
    }
}
